body {   
 background-color: grey;
 }

 h1
 { 
 	color: #890F0D;
 }
 h3
{
 color: #FFD32D;
}

.hr{
	border-style: none;
	border-top-style: dotted;
	background-color: grey;
	border-width: 5px;
	width: 5%;
}